force-app/main/default/flows/Flow_api_url.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Gerar_Ata_de_Reuni_o</name>
        <label>Gerar Ata de Reunião</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MeetingTranscriptHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Ata_Gerada_com_Sucesso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>teste</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Buscar_Accounts.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>anotacoes</name>
            <value>
                <elementReference>Buscar_Accounts.Anotacoes__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>meetingDate</name>
            <value>
                <stringValue>28/03/2026</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>meetingTitle</name>
            <value>
                <elementReference>inputMeetingTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transcriptText</name>
            <value>
                <elementReference>Buscar_Accounts.Transcricao_Reuniao__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MeetingTranscriptHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Flow api url {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow api url</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Accounts</name>
        <label>Buscar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmar_Geracao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Ata_Gerada_com_Sucesso</name>
        <label>Ata Gerada com Sucesso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Gerada</name>
            <fieldText>&lt;p&gt;✅ Ata gerada com sucesso!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A nota foi criada e vinculada a esta conta.&lt;/p&gt;&lt;p&gt;Verifique a aba &quot;Notas&quot; para ver a ata completa&lt;/p&gt;&lt;p&gt;com participantes, gaps e User Stories.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As tarefas dos próximos passos foram criadas&lt;/p&gt;&lt;p&gt;automaticamente na aba &quot;Atividades&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmar_Geracao</name>
        <label>Confirmar Geração</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Gerar_Ata_de_Reuni_o</targetReference>
        </connector>
        <fields>
            <name>Layout</name>
            <fieldText>&lt;p&gt;Você está prestes a gerar uma ata de reunião.&lt;/p&gt;&lt;p&gt;A transcrição será processada pelo Gemini AI e uma&amp;nbsp;&lt;/p&gt;&lt;p&gt;nota será criada automaticamente nesta conta.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>inputMeetingTitle</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Reunião Elera</stringValue>
            </defaultValue>
            <fieldText>Título da Reunião</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Erro ao gerar ata: {!$Flow.FaultMessage}</description>
        <name>teste</name>
        <label>teste</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>erro</name>
            <fieldText>&lt;p&gt;Erro ao gerar ata: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transcriptUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
