force-app/main/default/flows/Gerar_Tarefas_em_Lote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Gerar_Tarefas_em_Lote</fullName>
    <status>Draft</status>
    <processType>Flow</processType>
    <actionCalls>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>telaResumoFinal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>telaErro</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getUsuarioAtual.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Resumo da geração de tarefas</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tplCorpoEmail</elementReference>
            </value>
        </inputParameters>
        <label>Enviar E-mail de Resumo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>actEnviarEmailResumo</name>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <assignmentItems>
            <assignToReference>varTarefasParaExcluir</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTarefaAntiga</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopMarcarArquivadas</targetReference>
        </connector>
        <label>Adicionar à Lista de Exclusão</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asAddExclusao</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>varColecaoIndices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContadorRecorrencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorRecorrencia</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>decContinuarContagem</targetReference>
        </connector>
        <label>Adicionar Índice e Incrementar Contador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asAdicionarIndice</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>varQtdTarefasAntigas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopContarTarefasAntigas</targetReference>
        </connector>
        <label>Incrementar Contagem de Antigas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asContarAntiga</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>varColecaoItensChecklist</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loopGerarChecklist</targetReference>
        </connector>
        <label>Copiar Itens Selecionados para Coleção</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asCopiarItensChecklist</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>varContadorRecorrencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decContinuarContagem</targetReference>
        </connector>
        <label>Inicializar Contador de Recorrência</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asInicializarContador</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>currentTarefaAntiga.Arquivada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTarefasParaArquivar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTarefaAntiga</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopMarcarArquivadas</targetReference>
        </connector>
        <label>Marcar Como Arquivada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asMarcarArquivada</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>varNovaTarefaChecklist.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlNomeTarefaChecklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaChecklist.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não iniciado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaChecklist.Prioridade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrPrioridade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaChecklist.TipoTarefa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrTipoTarefa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaChecklist.Projeto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrProjeto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaChecklist.CloseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrDataInicial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaChecklist.Descricao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrDescricao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varColecaoTarefasChecklist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNovaTarefaChecklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varResumoTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fmlLinhaResumoChecklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varResumoTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuantidadeGerada</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopGerarChecklist</targetReference>
        </connector>
        <label>Montar Tarefa do Checklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asMontarTarefaChecklist</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>varNovaTarefaRecorrente.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlNomeTarefaRecorrente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaRecorrente.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não iniciado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaRecorrente.Prioridade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrPrioridade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaRecorrente.TipoTarefa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrTipoTarefa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaRecorrente.Projeto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrProjeto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaRecorrente.CloseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDataOcorrenciaRecorrente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaRecorrente.Descricao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrDescricao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaRecorrente.Recorrente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNovaTarefaRecorrente.FrequenciaTarefa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrFrequencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varColecaoTarefasRecorrentes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNovaTarefaRecorrente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varResumoTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fmlLinhaResumoRecorrente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varResumoTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuantidadeGerada</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopGerarRecorrentes</targetReference>
        </connector>
        <label>Montar Tarefa Recorrente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asMontarTarefaRecorrente</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>varTotalOcorrencias</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIntervaloDias</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>telaConfirmarRecorrencia</targetReference>
        </connector>
        <label>Definir Parâmetros Mensal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asParamMensal</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>varTotalOcorrencias</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIntervaloDias</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>14</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>telaConfirmarRecorrencia</targetReference>
        </connector>
        <label>Definir Parâmetros Quinzenal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asParamQuinzenal</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>varTotalOcorrencias</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIntervaloDias</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>telaConfirmarRecorrencia</targetReference>
        </connector>
        <label>Definir Parâmetros Semanal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asParamSemanal</name>
    </assignments>
    <assignments>
        <assignmentItems>
            <assignToReference>varResumoTexto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlLinhaResumoAvulsa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuantidadeGerada</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getUsuarioAtual</targetReference>
        </connector>
        <label>Montar Resumo da Tarefa Avulsa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>asResumoAvulsa</name>
    </assignments>
    <choices>
        <choiceText>Mensal (6 ocorrências)</choiceText>
        <dataType>String</dataType>
        <name>choiceFrequenciaMensal</name>
        <value>
            <stringValue>Mensal</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Quinzenal (6 ocorrências)</choiceText>
        <dataType>String</dataType>
        <name>choiceFrequenciaQuinzenal</name>
        <value>
            <stringValue>Quinzenal</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Semanal (12 ocorrências)</choiceText>
        <dataType>String</dataType>
        <name>choiceFrequenciaSemanal</name>
        <value>
            <stringValue>Semanal</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Deploy</choiceText>
        <dataType>String</dataType>
        <name>choiceItemDeploy</name>
        <value>
            <stringValue>Deploy</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Desenvolvimento</choiceText>
        <dataType>String</dataType>
        <name>choiceItemDesenvolvimento</name>
        <value>
            <stringValue>Desenvolvimento</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Documentação</choiceText>
        <dataType>String</dataType>
        <name>choiceItemDocumentacao</name>
        <value>
            <stringValue>Documentação</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Homologação</choiceText>
        <dataType>String</dataType>
        <name>choiceItemHomologacao</name>
        <value>
            <stringValue>Homologação</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Levantamento de requisitos</choiceText>
        <dataType>String</dataType>
        <name>choiceItemLevantamento</name>
        <value>
            <stringValue>Levantamento de requisitos</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Reunião com cliente</choiceText>
        <dataType>String</dataType>
        <name>choiceItemReuniao</name>
        <value>
            <stringValue>Reunião com cliente</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Testes</choiceText>
        <dataType>String</dataType>
        <name>choiceItemTestes</name>
        <value>
            <stringValue>Testes</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Gerar uma tarefa avulsa</choiceText>
        <dataType>String</dataType>
        <name>choiceModoAvulsa</name>
        <value>
            <stringValue>AVULSA</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Gerar tarefas a partir de um checklist</choiceText>
        <dataType>String</dataType>
        <name>choiceModoChecklist</name>
        <value>
            <stringValue>CHECKLIST</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Gerar tarefas recorrentes</choiceText>
        <dataType>String</dataType>
        <name>choiceModoRecorrente</name>
        <value>
            <stringValue>RECORRENTE</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Alta</choiceText>
        <dataType>String</dataType>
        <name>choicePrioridadeAlta</name>
        <value>
            <stringValue>Alta</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Baixa</choiceText>
        <dataType>String</dataType>
        <name>choicePrioridadeBaixa</name>
        <value>
            <stringValue>Baixa</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Média</choiceText>
        <dataType>String</dataType>
        <name>choicePrioridadeMedia</name>
        <value>
            <stringValue>Média</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Estudos</choiceText>
        <dataType>String</dataType>
        <name>choiceTipoEstudos</name>
        <value>
            <stringValue>Estudos</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Outros</choiceText>
        <dataType>String</dataType>
        <name>choiceTipoOutros</name>
        <value>
            <stringValue>Outros</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Pessoal</choiceText>
        <dataType>String</dataType>
        <name>choiceTipoPessoal</name>
        <value>
            <stringValue>Pessoal</stringValue>
        </value>
    </choices>
    <choices>
        <choiceText>Trabalho</choiceText>
        <dataType>String</dataType>
        <name>choiceTipoTrabalho</name>
        <value>
            <stringValue>Trabalho</stringValue>
        </value>
    </choices>
    <constants>
        <dataType>Number</dataType>
        <name>constNumDiasArquivamento</name>
        <value>
            <numberValue>20</numberValue>
        </value>
    </constants>
    <constants>
        <dataType>String</dataType>
        <name>constVersaoProcesso</name>
        <value>
            <stringValue>1.0</stringValue>
        </value>
    </constants>
    <decisions>
        <defaultConnector>
            <targetReference>loopGerarRecorrentes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contagem completa</defaultConnectorLabel>
        <label>Ainda falta gerar índices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>decContinuarContagem</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorRecorrencia</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varTotalOcorrencias</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asAdicionarIndice</targetReference>
            </connector>
            <label>Ainda falta</label>
            <name>ruleContinuarContagem</name>
        </rules>
    </decisions>
    <decisions>
        <defaultConnector>
            <targetReference>telaDadosBase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não processar agora</defaultConnectorLabel>
        <label>Usuário quer processar as antigas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>decDeveProcessarAntigas</name>
        <rules>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>scrArquivarAntigas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrExcluirDefinitivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopMarcarArquivadas</targetReference>
            </connector>
            <label>Arquivar ou excluir</label>
            <name>ruleProcessarAntigas</name>
        </rules>
    </decisions>
    <decisions>
        <defaultConnector>
            <targetReference>telaDadosBase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nenhuma tarefa antiga encontrada</defaultConnectorLabel>
        <label>Há tarefas antigas não arquivadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>decHaTarefasAntigas</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQtdTarefasAntigas</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>telaTarefasAntigas</targetReference>
            </connector>
            <label>Existem tarefas antigas</label>
            <name>ruleTemAntigas</name>
        </rules>
    </decisions>
    <decisions>
        <defaultConnectorLabel>Opção inválida — encerrar</defaultConnectorLabel>
        <label>Qual o modo de geração escolhido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>decModoGeracao</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rbModoGeracao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AVULSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>criarTarefaAvulsa</targetReference>
            </connector>
            <label>Avulsa</label>
            <name>ruleModoAvulsa</name>
        </rules>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rbModoGeracao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RECORRENTE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>telaConfigRecorrencia</targetReference>
            </connector>
            <label>Recorrente</label>
            <name>ruleModoRecorrente</name>
        </rules>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rbModoGeracao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHECKLIST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>telaChecklist</targetReference>
            </connector>
            <label>Checklist</label>
            <name>ruleModoChecklist</name>
        </rules>
    </decisions>
    <decisions>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>asParamSemanal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Frequência não reconhecida — usar semanal</defaultConnectorLabel>
        <label>Definir parâmetros da frequência</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>decParametrosFrequencia</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrFrequencia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semanal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asParamSemanal</targetReference>
            </connector>
            <label>Semanal</label>
            <name>ruleFreqSemanal</name>
        </rules>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrFrequencia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quinzenal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asParamQuinzenal</targetReference>
            </connector>
            <label>Quinzenal</label>
            <name>ruleFreqQuinzenal</name>
        </rules>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrFrequencia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mensal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asParamMensal</targetReference>
            </connector>
            <label>Mensal</label>
            <name>ruleFreqMensal</name>
        </rules>
    </decisions>
    <decisions>
        <defaultConnector>
            <targetReference>decModoGeracao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sem projeto informado</defaultConnectorLabel>
        <label>Foi informado um Projeto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>decPrecisaBuscarProjeto</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrProjeto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProjetoSelecionado</targetReference>
            </connector>
            <label>Projeto informado</label>
            <name>ruleTemProjeto</name>
        </rules>
    </decisions>
    <decisions>
        <defaultConnector>
            <targetReference>asMarcarArquivada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Arquivar normalmente</defaultConnectorLabel>
        <label>Arquivar ou excluir definitivamente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>decSplitTarefaAntiga</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentTarefaAntiga.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentTarefaAntiga.Descricao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrExcluirDefinitivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asAddExclusao</targetReference>
            </connector>
            <label>Cancelada, sem descrição e marcada para exclusão</label>
            <name>ruleExcluirDefinitivo</name>
        </rules>
    </decisions>
    <decisions>
        <defaultConnector>
            <targetReference>decPrecisaBuscarProjeto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validação ok</defaultConnectorLabel>
        <label>Projeto obrigatório para Trabalho</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>decValidarProjetoObrigatorio</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrTipoTarefa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trabalho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrProjeto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>telaErroValidacao</targetReference>
            </connector>
            <label>Trabalho sem Projeto</label>
            <name>ruleFaltaProjeto</name>
        </rules>
    </decisions>
    <description>Fluxo de tela para geração de Tarefa__c em lote (avulsa, recorrente ou via checklist), com arquivamento/limpeza de tarefas antigas antes de gerar novas. Construído como massa de teste grande e variada — consultas, updates, delete, telas, decisões, loops nativos e loop manual por contagem, choice set dinâmico, formulas e action call — para exercitar um serviço de leitura de flows.</description>
    <dynamicChoiceSets>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <name>dcsProjetos</name>
        <object>Projeto__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - {!constNumDiasArquivamento}</expression>
        <name>fmlDataLimiteArquivamento</name>
    </formulas>
    <formulas>
        <dataType>Date</dataType>
        <expression>IF(
    {!scrFrequencia} = &quot;Mensal&quot;,
    DATE(YEAR({!scrDataInicial}), MONTH({!scrDataInicial}) + {!currentIndiceRecorrencia}, DAY({!scrDataInicial})),
    {!scrDataInicial} + ({!currentIndiceRecorrencia} * {!varIntervaloDias})
)</expression>
        <name>fmlDataOcorrenciaRecorrente</name>
    </formulas>
    <formulas>
        <dataType>String</dataType>
        <expression>{!scrNomeBaseTarefa} &amp; &quot; - &quot; &amp; TEXT({!scrDataInicial})</expression>
        <name>fmlLinhaResumoAvulsa</name>
    </formulas>
    <formulas>
        <dataType>String</dataType>
        <expression>{!fmlNomeTarefaChecklist} &amp; &quot; - &quot; &amp; TEXT({!scrDataInicial})</expression>
        <name>fmlLinhaResumoChecklist</name>
    </formulas>
    <formulas>
        <dataType>String</dataType>
        <expression>{!fmlNomeTarefaRecorrente} &amp; &quot; - &quot; &amp; TEXT({!fmlDataOcorrenciaRecorrente})</expression>
        <name>fmlLinhaResumoRecorrente</name>
    </formulas>
    <formulas>
        <dataType>String</dataType>
        <expression>{!scrNomeBaseTarefa} &amp; &quot; - &quot; &amp; {!currentItemChecklist}</expression>
        <name>fmlNomeTarefaChecklist</name>
    </formulas>
    <formulas>
        <dataType>String</dataType>
        <expression>{!scrNomeBaseTarefa} &amp; &quot; - Ocorrência &quot; &amp; TEXT({!currentIndiceRecorrencia})</expression>
        <name>fmlNomeTarefaRecorrente</name>
    </formulas>
    <formulas>
        <dataType>Boolean</dataType>
        <expression>{!scrTipoTarefa} = &quot;Trabalho&quot; &amp;&amp; NOT(ISBLANK({!scrProjeto})) &amp;&amp; (ISBLANK({!getProjetoSelecionado.Id_Elera__c}) || ISBLANK({!getProjetoSelecionado.Id_Perfil_Alocacao_Elera__c}))</expression>
        <name>fmlProjetoSemElera</name>
    </formulas>
    <formulas>
        <dataType>String</dataType>
        <expression>TEXT({!varQuantidadeGerada}) &amp; &quot; tarefa(s) gerada(s) para &quot; &amp; {!scrNomeBaseTarefa}</expression>
        <name>fmlResumoContagem</name>
    </formulas>
    <interviewLabel>Gerar Tarefas em Lote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gerar Tarefas em Lote</label>
    <loops>
        <assignNextValueToReference>currentTarefaContagem</assignNextValueToReference>
        <collectionReference>getTarefasAntigas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <label>Contar Tarefas Antigas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>loopContarTarefasAntigas</name>
        <nextValueConnector>
            <targetReference>asContarAntiga</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decHaTarefasAntigas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <assignNextValueToReference>currentItemChecklist</assignNextValueToReference>
        <collectionReference>varColecaoItensChecklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <label>Gerar Tarefas do Checklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>loopGerarChecklist</name>
        <nextValueConnector>
            <targetReference>asMontarTarefaChecklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>criarTarefasChecklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <assignNextValueToReference>currentIndiceRecorrencia</assignNextValueToReference>
        <collectionReference>varColecaoIndices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <label>Gerar Tarefas Recorrentes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>loopGerarRecorrentes</name>
        <nextValueConnector>
            <targetReference>asMontarTarefaRecorrente</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>criarTarefasRecorrentes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <assignNextValueToReference>currentTarefaAntiga</assignNextValueToReference>
        <collectionReference>getTarefasAntigas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <label>Classificar Tarefas Antigas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>loopMarcarArquivadas</name>
        <nextValueConnector>
            <targetReference>decSplitTarefaAntiga</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>atualizarArquivarAntigas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <recordCreates>
        <connector>
            <targetReference>asResumoAvulsa</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>telaErro</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CloseDate__c</field>
            <value>
                <elementReference>scrDataInicial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descricao__c</field>
            <value>
                <elementReference>scrDescricao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>scrNomeBaseTarefa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prioridade__c</field>
            <value>
                <elementReference>scrPrioridade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projeto__c</field>
            <value>
                <elementReference>scrProjeto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Não iniciado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoTarefa__c</field>
            <value>
                <elementReference>scrTipoTarefa</elementReference>
            </value>
        </inputAssignments>
        <label>Criar Tarefa Avulsa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>criarTarefaAvulsa</name>
        <object>Tarefa__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <connector>
            <targetReference>getUsuarioAtual</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>telaErro</targetReference>
        </faultConnector>
        <inputReference>varColecaoTarefasChecklist</inputReference>
        <label>Criar Tarefas do Checklist (em massa)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>criarTarefasChecklist</name>
    </recordCreates>
    <recordCreates>
        <connector>
            <targetReference>getUsuarioAtual</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>telaErro</targetReference>
        </faultConnector>
        <inputReference>varColecaoTarefasRecorrentes</inputReference>
        <label>Criar Tarefas Recorrentes (em massa)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>criarTarefasRecorrentes</name>
    </recordCreates>
    <recordDeletes>
        <connector>
            <targetReference>telaDadosBase</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>telaErro</targetReference>
        </faultConnector>
        <inputReference>varTarefasParaExcluir</inputReference>
        <label>Excluir Definitivamente Tarefas de Teste</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>excluirTarefasAntigasTeste</name>
    </recordDeletes>
    <recordLookups>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decModoGeracao</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>telaErro</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scrProjeto</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <label>Buscar Projeto Selecionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>getProjetoSelecionado</name>
        <object>Projeto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopContarTarefasAntigas</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>telaErro</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Arquivada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fmlDataLimiteArquivamento</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Concluído</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <label>Buscar Tarefas Antigas Não Arquivadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>getTarefasAntigas</name>
        <object>Tarefa__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actEnviarEmailResumo</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>telaErro</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <label>Buscar Usuário Atual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>getUsuarioAtual</name>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <connector>
            <targetReference>excluirTarefasAntigasTeste</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>telaErro</targetReference>
        </faultConnector>
        <inputReference>varTarefasParaArquivar</inputReference>
        <label>Arquivar Tarefas Antigas (em massa)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>atualizarArquivarAntigas</name>
    </recordUpdates>
    <screens>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getTarefasAntigas</targetReference>
        </connector>
        <fields>
            <fieldText>Bem-vindo ao assistente de geração de tarefas (processo versão {!constVersaoProcesso}). Este fluxo cria registros de Tarefa__c em lote: uma tarefa avulsa, uma série recorrente ou um conjunto de tarefas a partir de um checklist padrão. Antes de começar, o fluxo também verifica se existem tarefas antigas concluídas ou canceladas que ainda não foram arquivadas.</fieldText>
            <fieldType>DisplayText</fieldType>
            <name>dtxBoasVindas</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <choiceReferences>choiceModoAvulsa</choiceReferences>
            <choiceReferences>choiceModoRecorrente</choiceReferences>
            <choiceReferences>choiceModoChecklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Como deseja gerar as tarefas?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <name>rbModoGeracao</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <label>Boas-vindas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>telaBoasVindas</name>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asCopiarItensChecklist</targetReference>
        </connector>
        <fields>
            <fieldText>Selecione os itens do checklist padrão que devem virar tarefas individuais. Cada item marcado gera uma Tarefa__c própria, vinculada ao mesmo Projeto e usando a Data inicial informada.</fieldText>
            <fieldType>DisplayText</fieldType>
            <name>dtxInfoChecklist</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <choiceReferences>choiceItemLevantamento</choiceReferences>
            <choiceReferences>choiceItemReuniao</choiceReferences>
            <choiceReferences>choiceItemDesenvolvimento</choiceReferences>
            <choiceReferences>choiceItemTestes</choiceReferences>
            <choiceReferences>choiceItemHomologacao</choiceReferences>
            <choiceReferences>choiceItemDeploy</choiceReferences>
            <choiceReferences>choiceItemDocumentacao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Itens do checklist</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <name>msItensChecklist</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <label>Selecionar Itens do Checklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>telaChecklist</name>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decParametrosFrequencia</targetReference>
        </connector>
        <fields>
            <fieldText>Defina a frequência de repetição. Semanal gera 12 ocorrências a cada 7 dias, Quinzenal gera 6 ocorrências a cada 14 dias e Mensal gera 6 ocorrências, uma por mês — os mesmos parâmetros usados na recorrência de tarefas do TarefaService.</fieldText>
            <fieldType>DisplayText</fieldType>
            <name>dtxInfoRecorrencia</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <choiceReferences>choiceFrequenciaSemanal</choiceReferences>
            <choiceReferences>choiceFrequenciaQuinzenal</choiceReferences>
            <choiceReferences>choiceFrequenciaMensal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Frequência</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <name>scrFrequencia</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <label>Configurar Recorrência</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>telaConfigRecorrencia</name>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asInicializarContador</targetReference>
        </connector>
        <fields>
            <fieldText>Serão geradas {!varTotalOcorrencias} tarefa(s) a partir de {!scrDataInicial}, com intervalo de {!varIntervaloDias} (dias, ou mês corrido se a frequência for mensal). Avance para confirmar a criação.</fieldText>
            <fieldType>DisplayText</fieldType>
            <name>dtxResumoParametros</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <label>Confirmar Recorrência</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>telaConfirmarRecorrencia</name>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decValidarProjetoObrigatorio</targetReference>
        </connector>
        <fields>
            <dataType>String</dataType>
            <fieldText>Nome base da tarefa</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <name>scrNomeBaseTarefa</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldText>Descrição</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <name>scrDescricao</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <choiceReferences>choiceTipoTrabalho</choiceReferences>
            <choiceReferences>choiceTipoEstudos</choiceReferences>
            <choiceReferences>choiceTipoPessoal</choiceReferences>
            <choiceReferences>choiceTipoOutros</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de tarefa</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <name>scrTipoTarefa</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <choiceReferences>dcsProjetos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Projeto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <name>scrProjeto</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrTipoTarefa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Trabalho</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <choiceReferences>choicePrioridadeAlta</choiceReferences>
            <choiceReferences>choicePrioridadeMedia</choiceReferences>
            <choiceReferences>choicePrioridadeBaixa</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prioridade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <name>scrPrioridade</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Data inicial</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <name>scrDataInicial</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <label>Dados Base da Tarefa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>telaDadosBase</name>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <fieldText>Ocorreu um erro ao processar as tarefas: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <name>dtxErroFatal</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <label>Erro no Processamento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>telaErro</name>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>telaDadosBase</targetReference>
        </connector>
        <fields>
            <fieldText>Não é possível continuar: tarefas do tipo Trabalho exigem um Projeto selecionado. Volte e escolha um projeto para prosseguir.</fieldText>
            <fieldType>DisplayText</fieldType>
            <name>dtxErroProjeto</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <label>Erro de Validação</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>telaErroValidacao</name>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <fieldText>{!fmlResumoContagem}

Detalhamento:
{!varResumoTexto}

Um e-mail de confirmação foi enviado para {!getUsuarioAtual.Email}.</fieldText>
            <fieldType>DisplayText</fieldType>
            <name>dtxResumoFinal</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldText>Atenção: o projeto selecionado não possui Id_Elera__c ou Id_Perfil_Alocacao_Elera__c preenchidos. A integração de apontamentos com a Elera pode não funcionar para essas tarefas quando forem concluídas.</fieldText>
            <fieldType>DisplayText</fieldType>
            <name>dtxAvisoElera</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmlProjetoSemElera</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <label>Resumo Final</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>telaResumoFinal</name>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decDeveProcessarAntigas</targetReference>
        </connector>
        <fields>
            <fieldText>Foram encontradas {!varQtdTarefasAntigas} tarefa(s) concluída(s) ou cancelada(s) sem arquivamento, sem alteração há mais de {!constNumDiasArquivamento} dias.</fieldText>
            <fieldType>DisplayText</fieldType>
            <name>dtxInfoAntigas</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Arquivar essas tarefas antigas agora?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <name>scrArquivarAntigas</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Ao invés de arquivar, excluir definitivamente as tarefas canceladas sem descrição?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <name>scrExcluirDefinitivo</name>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrArquivarAntigas</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <label>Tarefas Antigas Encontradas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>telaTarefasAntigas</name>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <connector>
            <targetReference>telaBoasVindas</targetReference>
        </connector>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </start>
    <textTemplates>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <name>tplCorpoEmail</name>
        <text>Olá,

O processo de geração de tarefas em lote foi concluído.

{!fmlResumoContagem}

Detalhamento das tarefas geradas:
{!varResumoTexto}

Este e-mail foi enviado automaticamente pelo fluxo Gerar Tarefas em Lote (versão {!constVersaoProcesso}).</text>
    </textTemplates>
    <variables>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>currentIndiceRecorrencia</name>
        <scale>0</scale>
    </variables>
    <variables>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>currentItemChecklist</name>
    </variables>
    <variables>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>currentTarefaAntiga</name>
        <objectType>Tarefa__c</objectType>
    </variables>
    <variables>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>currentTarefaContagem</name>
        <objectType>Tarefa__c</objectType>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varColecaoIndices</name>
        <scale>0</scale>
    </variables>
    <variables>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varColecaoItensChecklist</name>
    </variables>
    <variables>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varColecaoTarefasChecklist</name>
        <objectType>Tarefa__c</objectType>
    </variables>
    <variables>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varColecaoTarefasRecorrentes</name>
        <objectType>Tarefa__c</objectType>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varContadorRecorrencia</name>
        <scale>0</scale>
        <value>
            <numberValue>1</numberValue>
        </value>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varIntervaloDias</name>
        <scale>0</scale>
        <value>
            <numberValue>0</numberValue>
        </value>
    </variables>
    <variables>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varNovaTarefaChecklist</name>
        <objectType>Tarefa__c</objectType>
    </variables>
    <variables>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varNovaTarefaRecorrente</name>
        <objectType>Tarefa__c</objectType>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varQtdTarefasAntigas</name>
        <scale>0</scale>
        <value>
            <numberValue>0</numberValue>
        </value>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varQuantidadeGerada</name>
        <scale>0</scale>
        <value>
            <numberValue>0</numberValue>
        </value>
    </variables>
    <variables>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varResumoTexto</name>
        <value>
        </value>
    </variables>
    <variables>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varTarefasParaArquivar</name>
        <objectType>Tarefa__c</objectType>
    </variables>
    <variables>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varTarefasParaExcluir</name>
        <objectType>Tarefa__c</objectType>
    </variables>
    <variables>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <name>varTotalOcorrencias</name>
        <scale>0</scale>
        <value>
            <numberValue>0</numberValue>
        </value>
    </variables>
</Flow>